<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bulba</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
  {# Load the tag library #}
  {% load django_bootstrap5 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {% block bootstrap5_content %}


  <nav id="navbar" class="navbar navbar-expand navbar-dark bg-dark py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/rsz_bulbaLogo.png' %}" width="60" alt="" class="d-inline-block align-middle mb-3"/>

        <h2 class="headerBulba text-uppercase mt-3">Bulba</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mb-3" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://etherscan.io/address/0xEB5376A0a372b0586C07A209569971392D6ac838">Donation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.dextools.io/app/uniswap/pair-explorer/0x61475effe0e1d9d1a8046c3047f1b2085c43901d">Price Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://unicrypt.network/amm/uni/pair/0x61475effe0e1d9d1a8046c3047f1b2085c43901d">Liquidity Locked</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://twitter.com/BulbaRazorLeaf">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://app.uniswap.org/#/swap?outputCurrency=0x8d286d2dc6bb2fb6600ea08bbec4b0ca9f575755">Buy/Trade</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" target="_blank" href="https://etherscan.io/address/0xEB5376A0a372b0586C07A209569971392D6ac838">Etherscan</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://www.dextools.io/app/uniswap/pair-explorer/0x61475effe0e1d9d1a8046c3047f1b2085c43901d">DEXTools.io</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="mailto:bulbarazorleaf@yahoo.com" target="_blank">Email Us!</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://twitter.com/BulbaRazorLeaf">@BulbaRazorLeaf</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" target="_blank" action="https://app.uniswap.org/#/swap?outputCurrency=0x8d286d2dc6bb2fb6600ea08bbec4b0ca9f575755">
          <button class="btn btn-outline-success" type="submit">Buy Bulba</button>
        </form>
      </div>
    </div>
  </nav>

  <section>
    <h2 id="text">Nature begins with you</h2>
    <img class id="heroTop" src="{% static 'img/hero/heroTop.png' %}"/>
    <img id="heroLeft" src="{% static 'img/hero/heroLeft.png' %}"/>
    <img id="heroRight" src="{% static 'img/hero/heroRight.png' %}"/>
    <img id="heroMid" src="{% static 'img/hero/heroMid.png' %}"/>
    <img id="heroBot" src="{% static 'img/hero/heroBot.png' %}"/>
</section>

  <div id="mission" class="m-5 p-4">
    <h1>The Amazon provides oxygen for the planet, houses millions of different species,
      regulates massive planetary systems. Our goal is to help preserve the Amazon rainforest.
      With your help in this community, you are helping us take a step in the right direction.
    </h1>
  </div>

  <div class='text-uppercase background-tint-water' id='open'>
    <h1>2021 Roadmap</h1>
  </div>
  <div class="container-fluid m-0 p-0">

    <div class="row parallax3 background-tint m-0 pt-5">
      <div class="col-1 bg-transparent">
      </div>
      <div class="col-4 m-5" id="roadmap">
        <ul>
          <li>Q2</li>
          <li>New Website & Design</li>
          <li>Coin Safety Audit</li>
          <li>Marketing Campaign</li>
          <li>Blockfolio Listing</li>
          <li>Coinmarketcap Listing</li>
          <li>Coingecko Listing</li>
          <li>Community AMAs</li>
        </ul>
      </div>
      <div class="col bg-transparent">
      </div>
    </div>

    <div class="row parallax3 background-tint h-50 m-0">
      <div class="col-6 bg-transparent">
      </div>
      <div class="col-4 m-5" id="roadmap">
        <ul>
          <li>Q3</li>
          <li>Giveaways</li>
          <li>Charity Partnerships</li>
          <li>Energy Saving Platform</li>
          <li>Whitebit Listing</li>
          <li>NFTs</li>
          <li>SQRT Merch</li>
          <li>SQRT Game</li>
          <li>Influencer Marketing</li>
        </ul>
      </div>
      <div class="col bg-transparent">
      </div>
    </div>

    <div class="row parallax3 background-tint h-50 m-0 pb-5">
      <div class="col-2 bg-transparent">
      </div>
      <div class="col-4 m-5" id="roadmap">
        <ul>
          <li>Q4</li>
          <li>More Exchange Listings</li>
          <li>Large Scale Charity Donations</li>
          <li>Crowdfunding System</li>
          <li>Heavy Marketing Campaign</li>
          <li>Sponser A Turtle Platform</li>
          <li>Small Surprise ;)</li>
        </ul>
      </div>
      <div class="col bg-transparent">
      </div>
    </div>

  </div>

  <div class='text-uppercase background-tint-water' id='open'>
    <h1>How To Buy Bulba</h1>
  </div>

  <div class="parallax2 background-tint h-100 m-0 py-5" id="howBuy">
    <ul>
      <li>Log on to <span><a target="_blank" href="http://app.uniswap.org">http://app.uniswap.org</a></span></li>
      <li>Connect your Metamask/Coinbase/Trust etc.. Wallet</li>
      <li>Use the Contract</li>
      <li>Address: 0x8d286d2dc6bb2fb6600ea08bbec4b0ca9f575755</li>
      <li>Swap ETH for $BULBA, set up Slippage at 5%</li>
      <li>Add the contract address as a new token on metamask</li>
      <li class="pt-3" style="list-style: none;">YOU ARE NOW A $BULBA HOLDER!</li>
    </ul>
  </div>

  <div class="container-fluid m-0 py-3 px-5" id='footer'>
    <div class="row" id='moreLinks'>
      <div class="col-4">
        <ul>
          <li class="nav-item"><a class="nav-link" target="_blank" href="https://etherscan.io/address/0xEB5376A0a372b0586C07A209569971392D6ac838">Donation</a></li>
          <li><a class="nav-link" target="_blank" href="https://www.dextools.io/app/uniswap/pair-explorer/0x61475effe0e1d9d1a8046c3047f1b2085c43901d">Price Chart</a></li>
          <li><a class="nav-link" target="_blank" href="https://unicrypt.network/amm/uni/pair/0x61475effe0e1d9d1a8046c3047f1b2085c43901d">Liquidity Locked</a></li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li><a class="navbar-brand footBar" href="/">
            <img src="{% static 'img/rsz_bulbaLogo.png' %}" width="80" alt="" class="d-inline-block mr-0"/>
          </a></li>
          <li><a id="logoText" class="nav-link" target="_blank" href="https://twitter.com/BulbaRazorLeaf">Twitter</a></li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li><a class="nav-link" target="_blank" href="https://app.uniswap.org/#/swap?outputCurrency=0x8d286d2dc6bb2fb6600ea08bbec4b0ca9f575755">Buy/Trade</a></li>
          <li><a class="nav-link" target="_blank" href="https://etherscan.io/address/0xEB5376A0a372b0586C07A209569971392D6ac838">Etherscan</a></li>
          <li><a class="nav-link" target="_blank" href="https://www.dextools.io/app/uniswap/pair-explorer/0x61475effe0e1d9d1a8046c3047f1b2085c43901d">DEXTools.io</a></li>
        </ul>
      </div>
    </div>
  
  </div>
  <script type="text/javascript">
    let heroTop = document.getElementById("heroTop");
    let heroLeft = document.getElementById("heroLeft");
    let heroRight = document.getElementById("heroRight");
    let heroMid = document.getElementById("heroMid");
    let heroBot = document.getElementById("heroBot");
    let text = document.getElementById("text");

    window.addEventListener('scroll', function(){
        var value = window.scrollY;

        navbar.style.top = value * 0.8 + 'px';
        heroTop.style.top = value * 0.8 + 'px';
        heroLeft.style.top = value * 0.8 + 'px';
        heroRight.style.top = value * 0.6 + 'px';
        heroMid.style.top = value * 0.6 + 'px';
        heroBot.style.top = value * 0.2 + 'px';
        text.style.top = value * 1.2 + 'px';
    })
</script>

  {% endblock %}

</body>

</html>